.cart .title_product {
    width: 100%;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

.cart .title_product h3 {
    font-size: 20px;
    font-weight: 500;
}

.cart .cart_product_list {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cart .cart_product_list > ul {
    width: 100%;
    display: flex;
    align-items: start;
    border-bottom: 1px solid #999;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.cart .cart_product_list > ul:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}



/* 장바구니 주문상품 */
.cart .cart_product_list .info_cart_product {
    width: 750px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 50px;
    justify-content: center
}

.cart .cart_product_list .info_cart_product > span {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}

.cart .cart_product_list .info_cart_product p {
    color: #707070;
    margin-bottom: 10px;
}

.cart .cart_product_list .info_cart_product .prime_price {
    font-size: 14px;
    color: #999;
}

.cart .cart_product_list .info_cart_product .price {
    font-size: 18px;
    font-weight: 500;
    color: #000;
}
.img_thumbnail {
    position: relative;
    display: inline-block;
    width: 20%;
}

.img_thumbnail img{
    width: 200px;
    height: 300px;
}

.fa-trash-can {
    font-size: 20px;
    cursor: pointer;
}

/* 체크,증감 */
/* .quantity,
.check_product {
    display: none;
} */


/* 상품추가삭제 +,-버튼 */
/* .quantity{position: relative;} */

.quantity input[type="text"] {
    width: 24px;
    height: 24px;
    line-height: 25px;
    border: 0.5px solid #F2F2F2;
    background: #dcdcdc;
    text-align: center;
}

.decrease_button,
.increase_button {
    width: 24px;
    height: 24px;
    border: 0.5px solid #111;
    background: #F2F2F2;
    cursor: pointer;
}

/* 기본배송 */
.ship {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    margin-bottom: 30px;
}

.title_ship {
    font-size: 18px;
    padding-bottom: 10px;
}

.title_ship h3{
    font-weight: 400;
}

.price_ship {
    display: flex;
}

.price_ship > span {
    margin-left: 10px;
    font-weight: 600;
}

.base_product{
    position: relative;
    margin: 0 0 0;
    padding: 14px 0;
    box-sizing: border-box;
}



/* 선택상품구매,모든상품구매 */
.optionl_btn {
    display: flex;
    align-items: center;
}

.check_btn > input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.delete_item_btn {
    margin-left: 10px;
}

.select_purchase {
    width: 100%;
    display: flex;
    justify-content: right;
    border-bottom: 1px solid #000;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

.select_purchase > button {
    border: none;
    padding: 10px 15px;
    background-color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.select_purchase > button:hover {
    background-color: #A389CB;
    color: #fff;
    font-weight: 500;
}

.select_purchase .btn_select_purchase {
    margin-left: 10px;
}

.button_line {
    width: 100%;
}

.button_order{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    

.button_order .button_all{  
    width: 200px;
    padding: 15px 50px;
    border: 1px solid #A389CB;
    background: #A389CB;
    color: #F8F8F8;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
