/* Layout */
.manage_layout {
    width: 100%;
}

.manage_layout .inner {
    padding: 50px 0 0 0;
    display: flex;
}

/* LEFT */
.manage_layout .manage_layout_left, .contents_table .manage_layout {
    width: 25%;
    background-color: #F1EDF5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    box-sizing: border-box;
}

.manage_layout .manage_layout_left h3, .contents_table .manage_layout_left h3 {
    font-size: 30px;
    font-weight: 600;
    color: #AC94C4;
    margin-bottom: 50px;
}


.manage_layout .manage_layout_left .manage_menu_list li, .contents_table .manage_layout_left li {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}

.manage_layout .manage_layout_left .manage_menu_list li::after, .contents_table .manage_layout_left li::after {
    display: block;
    content: "";
    width: 0%;
    height: 3px;
    background-color: #AC94C4;
    transition: 0.5s;
}

.manage_layout .manage_layout_left .manage_menu_list li:hover::after, .contents_table .manage_layout_left li:hover::after {
    width: 100%;
}


/* RIGHT */
.manage_layout .manage_layout_right {
    width: 75%;
    background-color: #F4F4F4;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}


.manage_layout .manage_layout_right h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
    color: #AC94C4;
}

/* 데스크탑 (가로 해상도가 1440px 이하 적용) */
@media (max-width: 1440px) {

}

/* 데스크탑 (가로 해상도가 1024px 이하 적용) */
@media (max-width: 1024px) {
    
}

/* 데스크탑 (가로 해상도가 840px 이하 적용) */
@media (max-width: 840px) {
    .info_account {
        flex-direction: column;
        align-items: center;
    }

    .info_account * {
        margin-bottom: 20px;
    }

    /* modal */
    #modal_usercheck .modal_userinfo {
        width: 80%;
    }
}

/* 데스크탑 (가로 해상도가 764px 이하 적용) */
@media (max-width: 764px) {
    .manage_input_area.manage_input_addr {
        flex-direction: column;
    }
}

/* 데스크탑 (가로 해상도가 636px 이하 적용) */
@media (max-width: 636px) {
    .manage_layout .manage_layout_right h2, .manage_layout .manage_layout_left h3 {
        font-size: 20px !important;
    }

    .mypage .welcome_user_name {
        font-size: 22px;
    }

    .search_box {
        display: block !important;
    }
    
    label[for=manage_address] {
        text-align: center !important;
        margin-bottom: 20px;
        margin-right: 0 !important;
    }
}




/* 데스크탑 (가로 해상도가 425px 이하 적용) */
@media (max-width: 425px) {
    #modal_usercheck .modal_userinfo {
        width: 90%;
    }

    .mypage .welcome_user_name {
        font-size: 28px;
    }

    .user_addr_info_zipcode {
        flex-direction: row !important;
        justify-content: space-between;
    }
    
    .side_search_input {
        width: 160px;
    }
    
    .side_search_input input {
        width: 100%;
    }
}