/* 양쪽정렬 */
.contents_table {
    display: inline-flex;
    text-align: center;
}

/* 회원정리 */
.list_member {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list_search {
    width: 300px;
    margin-bottom: 30px;
    position: relative;
}

.list_search input {
    width: 100%;
    border: 1px solid #111;
    border-radius: 8px;
    padding: 10px 30px;
    font-size: 14px;
}

.list_search img {
    position: absolute;
    width: 14px;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

/* 테이블 */

.contents_member .table {
    border-collapse: collapse;
    border-top: 3px solid #a389cb;
    text-align: center;
    font-family: Noto Sans;
}
.contents_member .table th {
    color: #111;
    background: #f0edf4;
    text-align: center;
}
.contents_member .table th,
.table td {
    padding: 16px;
    border: 1px solid #ddd;
}
.contents_member .table th:first-child,
.table td:first-child {
    border-left: 0;
}
.contents_member .table th:last-child,
.table td:last-child {
    border-right: 0;
}
.contents_member .table tr td:first-child {
    text-align: center;
}
.contents_member .table select {
    font-size: 15px;
}
.contents_member .table caption {
    caption-side: bottom;
    display: none;
}
.contents_member button {
    border: 1px solid #ededed;
    background-color: #f9f9f9;
    transition: 0.3s;
    font-size: 15px;
    cursor: pointer;
}
.contents_member button:hover {
    border: 1px solid #a389cb;
    background-color: #a389cb;
    color: #fff;
}
