.order {
    position: relative;
}

.order .inner {
    padding: 0;
}

/* 양쪽정렬 */
.shopping_order{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* 오른쪽 주문서 및 타이틀 */


/* 주문조회 */
.contents_order{
    width: 100%;
    padding: 50px 0;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 주문자 */
.ordered {
    width: 1000px;
    box-sizing: border-box;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.user_order_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.user_order_info li {
    color: #999;
    margin-top: 5px;
}

.user_order_info li:first-child {
    color: #000;
    margin-top: 0;
}

.ordered > h3, 
.info_ordered > h3 {
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 10px;
}

/* 배송지 */
.info_ordered{
    width: 1000px;
    box-sizing: border-box;
    background-color: #fff;
    padding: 20px;
    text-align: left;
    margin-bottom: 20px;
}

.addr_order_info {
    margin-top: 30px;
}

.addr_order_info > li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.addr_order_info > li span {
    width: 100px;
}

.addr_order_info > li input {
    font-size: 16px;
    border: 1.5px solid #dcdcdc;
    width: 100px;
    padding: 10px 15px;
    text-align: center;
    outline: none;
    border-radius: 10px;
}

.addr_order_info .addr_phone1 {
    width: 50px;
}

.addr_info_addr .addr_search_zipcode {
    width: 120px;
    font-size: 16px;
    border: none;
    background-color: #F1EDF5;
    cursor: pointer;
}

.addr_info_addr .addr_info_zipcode {
    margin-bottom: 10px;
}

.addr_info_addr .addr_info_zipcode .addr_zipcode {
    margin-right: 10px;
}

.addr_info_addr .addr_info_detail .addr_addr1 {
    width: 250px;
}

.addr_info_addr .addr_info_detail .addr_addr2 {
    width: 250px;
}


/* 주문상품 */
.product_delivery{
    width: 1000px;
    box-sizing: border-box;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.product_delivery .title_price {  
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 20px;
}

.product_pay {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}           

.product_pay .info_order_list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.product_pay .order_products_ul {
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dcdcdc;
}

.product_pay .order_products_ul:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.product_pay .info_order_name {
    display: flex;
}

.product_pay .info_order_name span { 
    font-weight: 600;
    display: block;
    margin-left: 20px;
}

.product_pay .cart_order_img {
    width: 200px;
    height: 300px;
}

.total_box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.total .price_total{
    color: #797979;
    font-size: 14px;
}

.total .count_total{
    color: #797979;
    font-size: 15px;
    margin: 5px 0;
}

.total .all_total {
    font-weight: 500;
}

/* 결제금액확인 */
.pay_amount{
    width: 1000px;
    box-sizing: border-box;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.pay_amount .title_total {
    font-weight: 600;
    text-align: left;
}

.pay_amount span {
    font-weight: 600;
}

.credit_payment {
    width: 1000px;
    box-sizing: border-box;
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.credit_payment .title_pay {
    width: 100px;
    font-weight: 600;
    text-align: left;
}

.credit_payment .payment_delivery {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.credit_payment .payment_delivery label {
    margin-left: 5px;
}

.credit_payment .button_card,
.credit_payment .button_cash {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.credit_payment .button_cash {
    margin-left: 10px;
}


/* 주문하기 버튼 */
.button_prev {
    width: 1000px;
}

.button_prev .purchase,
.naver_pay {
    width: 100%;
    height: 50px;
    background-color: #A389CB;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-top: 15px;
    font-size: 16px;
    transition: all 0.5s;
}

.purchase:hover,
.naver_pay:hover {
    box-shadow: 1000px 0 0 0 rgba(0, 0, 0, 0.25) inset;
}
.button_prev .movecart{
    width: 100%;
    height: 50px;
    background-color: #fff;
    color: #111;
    border: none;
    border: 1px solid #111;
    cursor: pointer;
    text-align: center;
    margin-top: 15px;
    font-size: 16px;
    transition: all 0.5s;
}

.movecart:hover{
    box-shadow: 1000px 0 0 0 rgba(0, 0, 0, 0.25) inset;
}

/* MODAL */

#order_success {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.25);
    display: none;
}

#order_success .order_success_box {
    width: 400px;
    height: 250px;
    border-radius: 20px;
    background: #F1EDF5;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#order_success .order_success_box > h4 {
    font-size: 24px;
    font-weight: 600;
    color: #A389CB;
    margin-bottom: 20px;
}

#order_success .order_success_box > h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
}

#order_success .order_success_box .btn_order_success {
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 500;
    border: none;
    background-color: #A389CB;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

/* 데스크탑 (가로 해상도가 1440px 이하 적용) */
@media (max-width: 1440px) {
    .contents_order .ordered, .contents_order .info_ordered, .contents_order .product_delivery, .contents_order .pay_amount, .contents_order .button_prev {
        width: 90%;
    }

    .naver_pay {
        width: 100%;
    }

}

/* 데스크탑 (가로 해상도가 1024px 이하 적용) */
@media (max-width: 1024px) {
    .addr_info_detail * {
        margin-bottom: 10px;
    }
}

/* 데스크탑 (가로 해상도가 768px 이하 적용) */
@media (max-width: 768px) {
    .addr_order_info .addr_phone1 {
        margin-bottom: 10px;
    }

    .product_pay .info_order_name {
        flex-direction: column;
        align-items: center;
    }

    .product_pay .cart_order_img {
        margin-bottom: 20px;
    }

    .info_order_list {
        flex-direction: column;
    }
}

/* 데스크탑 (가로 해상도가 425px 이하 적용) */
@media (max-width: 425px) {
    
}