/* content3 */
#content .list_best_products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    height: 900px;
    min-height: 900px;
}


#content .list_best_products li {
    border-radius: 10px;
    margin-bottom: 50px;
    width: 300px;
    height: 480px;
}

#content .list_best_products .img_best_product {
    display: block;
    width: 100%;
    height: inherit;
    max-height: 300px;
    background-color: #dcdcdc;
    margin-bottom: 20px;
}

#content .list_best_products strong {
    color: #9E9E9E;
    font-weight: 500;
}

#content .list_best_products .text_product_name {
    font-size: 18px;
    font-weight: 600;
}
